body {
    font-size: 100%;
    font-family: monospace;
}

header {
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    padding: 25px 0;
    border-bottom: medium solid purple;
    width: 100%;
    margin: 10px 0;
    color: purple;
    text-align: right;
}

nav, aside {
    float: left;
}

nav {
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-bottom: medium solid purple;
    border-top: medium solid purple;
    width: 15%;
    padding: 10px 0;
    margin: 0 40px 0 10px;
}

nav:hover{
    background: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

nav ul li{
    list-style: square;
    text-align: left;
    line-height: 2;
}

nav ul li a:hover{
    background: purple;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
}

aside {
    margin: 0 20px 0 0;
    padding: 10px 22px;
    width: 15%;
}

aside > p {
    color:purple;
}

section {
    float: right;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 20px;
}

section p {
    text-align: left;
    color: black;
}

footer {
    clear: both;
    background: linear-gradient(to top left, pink, yellow, pink, purple);
    width: 100%;
    border-top: medium solid purple;
    padding: 20px 0;
}

footer p {
    color: purple;
    text-align: center;
    width: 80%;
    margin: auto;
}