/*
Tutti i font devono avere la stessa font-family, che deve essere monospace. La dimensione deve essere del 100%
 in che senso 100%?

I link in <nav> in caso di hover vengono mostrati con sfondo viola, colore bianco, in grassetto e con un padding pari ad almeno l’1%.
1% di padding?


*/
* {
    font-family: monospace;
}

header {
    box-sizing: border-box;
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    padding: 25px 0;
    border-bottom: medium solid purple;
    width: 100%;
    margin: 10px 0;
}

header h1 {
    color: purple;
    text-align: right;
}

nav, aside {
    box-sizing: border-box;
    float: left;
}

nav {
    background: linear-gradient(to bottom right, pink, yellow, pink, purple);
    border-bottom: medium solid purple;
    border-top: medium solid purple;
    width: 15%;
    padding: 10px 7px;
    margin: 0 40px 0 10px;
}

nav:hover{
    background: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

nav ul li{
    list-style: square;
    text-align: left;
    line-height: 200%;
}

nav ul li a:hover{
    background: purple;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

aside {
    margin: 0 20px 0 0;
    padding: 10px 22px;
    width: 20%;
    border: medium solid red;
}

aside > p {
    color:purple;
}

section {
    float: right;
    width: 50%;
    padding: 0 30px;
    border: medium solid red;
    margin-bottom: 20px;
}

section p {
    text-align: left;
    color: black;
}

footer {
    clear: both;
    background: linear-gradient(to top left, pink, yellow, pink, purple);
    width: 100%;
    border-top: medium solid purple;
    padding: 20px 0;
    margin: 100px 0;
}

footer p {
    color: purple;
    text-align: center;
    width: 80%;
    margin: auto;
}